<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="Mysql" targetRuntime="MyBatis3">
        <plugin type="com.base.pulgin.TopSerializablePlugin"></plugin>
        <plugin type="com.base.pulgin.SqlMapUnMergePlugin"></plugin>
        
		<!-- 添加注释 -->
        <commentGenerator type="com.base.pulgin.DBCommentGenerator">
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
		<!--数据库连接的信息：驱动类、连接地址、用户名、密码 -->
        <jdbcConnection driverClass="org.gjt.mm.mysql.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/mvc?useUnicode=true&amp;characterEncoding=UTF-8"
            userId="root" password="root">
            <property name="remarksReporting" value="true" />
        </jdbcConnection>
        
        <!--  默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer   
         true，把JDBC DECIMAL 和 NUMERIC 类型解析为java.math.BigDecimal   
     		-->  
		<javaTypeResolver >  
     		<property name="forceBigDecimals" value="false" />  
  		</javaTypeResolver>  
  		
		 <!-- targetProject:自动生成代码的位置 -->
        <javaModelGenerator targetPackage="com.shang.dal.model" targetProject="src/main/java">
            <!-- 从数据库返回的值被清理前后的空格  -->
            <property name="trimStrings" value="true" />
        </javaModelGenerator>
		
		<!-- SqlMap文件生成配置  ../demo_ssm-1.0/-->
        <sqlMapGenerator targetPackage="sqlMap" targetProject="src/main/resources">
       		<property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
		
		<!-- Dao生成配置 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.shang.dal.dao" targetProject="src/main/java">
        </javaClientGenerator>
		
		<!-- mapperName="{0}Dao" -->
        <table tableName="student" domainObjectName="Student" >
        	<generatedKey column="id" sqlStatement="select UUID()" identity="false"/>
        </table>

<!--         <table tableName="user_t" domainObjectName="User" >mapperName="{0}Dao" -->
<!--         	<generatedKey column="id" sqlStatement="mysql" identity="false"/> -->
<!--         </table> -->
        
        
    </context>

</generatorConfiguration>
